@media screen and (max-width: 391px) {
  .fa-mug-saucer {
    color: #69bf64;
    font-size: 63px;
    margin-top: 0.35em;
    margin-bottom: 1em;
    margin-left: 0.2em;
  }
}

@media screen and (min-width: 392px) {
  .fa-mug-saucer {
    color: #69bf64;
    font-size: 63px;
    margin-top: 0.35em;
    margin-bottom: 1em;
    margin-left: 2em;
  }
}
