@media screen and (max-width: 991px) {
  .main-content {
    border-style: none !important;
  }

  .post-modal {
    position: fixed !important;
    top: 0% !important;
    right: 0% !important;
    max-width: 390px !important;
    height: 100% !important;
    border-radius: 0% !important;
  }

  .upload-image-placeholder {
    max-width: 294px !important;
    max-height: 288px !important;
  }

  .profile-banner {
    margin-top: 4em !important;
  }

  .delete-modal {
    top: 30% !important;
    left: 11% !important;
  }

  .mobile-search {
    display: block !important;
    position: fixed !important;

    /* top: 0% !important; */

    /* right: 0% !important; */
    width: 100% !important;
    max-width: 390px !important;
    height: 100% !important;
    background-color: white;
  }

  .searchbar-wrapper,
  .searchbar {
    width: 275px !important;
  }
}
