* {
  font-family: roboto, sans-serif;
}

.hidden {
  visibility: hidden;
}

.main-content {
  max-width: 598px !important;
  min-width: fit-content;
  margin: 0 auto;
}

.full-height {
  height: 100vh;
}

.bg-milk-brown {
  background-color: #e0cda9;
}

.bg-cream {
  background-color: #f7e7c8;
}

.heading {
  font-family: Scada, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.sign-in-btn {
  display: block;
  margin: 0 auto;
  width: 345px;
  height: 45px;
  border-style: solid;
  border-radius: 30px;
  border-color: #693504;
  background-color: #f7e7c8;
  color: #69bf64;
  font-size: 20px;
  font-weight: bold;
}

.input-fields {
  text-align: center;
}

.input-username-password {
  width: 345px;
  height: 60px;
  background-color: #e0cda9;
  border-style: solid;
  border-color: #693504;
  text-align: center;
}

.input-username-password::placeholder {
  font-size: 20px;
  color: #d2ab7c;
  text-align: center;
}

.input-display-name {
  width: 345px;
  height: 60px;
  background-color: #e0cda9;
  border-style: solid;
  border-color: #693504;
  text-align: center;
}

.input-display-name::placeholder {
  font-size: 20px;
  color: #d2ab7c;
  text-align: center;
}

.input-bio {
  width: 345px;
  height: 102px;
  font-size: 20px;
  background-color: #e0cda9;
  color: #d2ab7c;
  border-style: solid;
  border-color: #693504;
  text-align: center;
}

.input-bio::placeholder {
  font-size: 20px;
  color: #d2ab7c;
  text-align: center;
}

.sign-in-up-divider {
  display: flex;
  justify-content: center;
}

hr {
  height: 2px;
  background-color: #693504;
  width: 153px;
}

.or {
  padding: 0.2em 0.5em;
  color: #693504;
}

.finish-profile-btn,
.sign-up-btn {
  display: block;
  margin: 0 auto;
  width: 345px;
  height: 45px;
  border-style: none;
  border-radius: 30px;
  background-color: #69bf64;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

a {
  text-decoration: none !important;
}

.fa-mug-saucer {
  color: #69bf64;
  font-size: 63px;
}

.logo {
  width: 345px;
  margin: 1em auto;
}

.top-nav {
  display: flex;
  height: 53px;
  background-color: #e0cda9;
  padding: 0.5em;
  border-bottom: solid #693504;
}

.bot-nav {
  display: flex;
  justify-content: space-between;
  height: 53px;
  background-color: #e0cda9;
  padding: 0.5em;
  border-top: solid #693504;
  bottom: 0%;
}

.mobile-nav-title {
  display: inline-block;
  padding-left: 0.8em;
  font-size: 21px;
  font-weight: bold;
  color: #693504;
}

.fa-house {
  color: #693504;
  font-size: 30px;
  padding-top: 0.3em;
}

.fa-user {
  color: #693504;
  font-size: 30px;
  padding-top: 0.3em;
  margin-left: 0.15em;
}

.fa-plus {
  color: #69bf64;
  font-size: 30px;
  padding-top: 0.3em;
}

.mobile-search-btn {
  display: flex;
  justify-content: flex-end;
}

.search-btn > button {
  background-color: transparent;
  border-style: none;
}

.fa-magnifying-glass {
  color: #693504;
  font-size: 30px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style: none;
}

li {
  margin-top: 0.5em;
}

.sidebar-icon {
  font-size: 50px;
}

.nav-sidebar-text {
  font-size: 22px;
  font-weight: bold;
  margin-left: 1em;
}

.fa-user > .nav-sidebar-text {
  margin-left: 1.2em;
}

.desktop-post-btn {
  width: 225px;
  height: 52px;
  border-style: none;
  background-color: #69bf64;
  border-radius: 30px;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.desktop-sign-out {
  display: flex;
  cursor: pointer;
  position: absolute;
  bottom: 1%;
}

.border-right {
  border-right: 2px solid #693504;
}

.border-left {
  border-left: 2px solid #693504;
}

.displayname-text {
  font-size: 18px;
  font-weight: bold;
  color: #693504;
  margin: 0 0.5em;
  position: absolute;
  bottom: 1%;
}

.username-text {
  font-weight: 300;
  color: #e0cda9;
}

.searchbar-wrapper {
  width: 350px;
  height: 44px;
  background-color: #e0cda9;
  position: sticky;
  top: 1%;
  margin-left: 3.5em;
}

.searchbar {
  display: flex;
  justify-content: space-around;
  width: 350px;
  height: 42px;
  margin-top: 1px;
  border-radius: 30px;
  background-color: #f7e7c8;
  text-align: center;
}

.searchbar > input {
  background: transparent;
  border-style: none;
  width: 250px;
  outline: none;
}

.searchbar > input::placeholder {
  color: #d2ab7c;
}

.search-btn {
  background: transparent;
  border-style: none;
  margin-top: 5px;
}

.search-btn > .fa-magnifying-glass {
  font-size: 30px;
}
