* {
  font-family: roboto, sans-serif;
}

.hidden {
  visibility: hidden;
}

.container-fluid {
  min-height: 100%;
}

.main-content {
  max-width: 598px !important;
  min-width: fit-content;
  margin: 0;
  padding: 0;
}

.full-height {
  min-height: 100vh;
}

.bg-primary-color {
  background-color: #41474b;
}

.bg-secondary-color {
  background-color: #aeb2b5;
}

.heading {
  font-family: Scada, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.sign-in-btn {
  display: block;
  margin: 0 auto;
  width: 345px;
  height: 45px;
  border-style: solid;
  border-radius: 30px;
  border-color: rgb(0, 0, 0);
  background-color: #aeb2b5;
  color: #c5e9ea;
  font-size: 20px;
  font-weight: bold;
}

.input-fields {
  text-align: center;
}

.input-username-password {
  width: 345px;
  height: 60px;
  font-size: 20px;
  color: #c5e9ea;
  background-color: #41474b;
  border-style: solid;
  border-color: rgb(39, 39, 39);
  text-align: center;
}

.input-username-password::placeholder {
  font-size: 20px;
  color: white;
  text-align: center;
}

.input-display-name {
  width: 345px;
  height: 60px;
  font-size: 20px;
  background-color: #41474b;
  color: #c5e9ea;
  border-style: solid;
  border-color: rgb(39, 39, 39);
  text-align: center;
}

.input-display-name::placeholder {
  font-size: 20px;
  color: white;
  text-align: center;
}

.input-bio {
  width: 345px;
  height: 102px;
  font-size: 20px;
  background-color: #41474b;
  color: #c5e9ea;
  border-style: solid;
  border-color: rgb(39, 39, 39);
  text-align: center;
}

.input-bio::placeholder {
  font-size: 20px;
  color: white;
  text-align: center;
}

.sign-in-up-divider {
  display: flex;
  justify-content: center;
}

hr {
  height: 2px;
  background-color: rgb(39, 39, 39);
  width: 153px;
}

.or {
  padding: 0.2em 0.5em;
  color: rgb(39, 39, 39);
}

.profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.finish-profile-btn,
.sign-up-btn {
  display: block;
  margin: 0 auto;
  width: 345px;
  height: 45px;
  border-style: none;
  border-radius: 30px;
  background-color: #c5e9ea;
  color: #aeb2b5;
  font-size: 20px;
  font-weight: bold;
}

a {
  text-decoration: none !important;
}

.fa-mug-saucer {
  color: #c5e9ea;
  font-size: 63px;
}

.logo {
  width: 345px;
  margin: 1em auto;
}

.top-nav {
  z-index: 999;
}

.top-nav > .col {
  display: flex;
  height: 53px;
  background-color: #41474b;
  border-bottom: solid rgb(39, 39, 39);
  padding: 0.5em;
}

.bot-nav {
  display: flex;
  justify-content: space-between;
  height: 53px;
  background-color: #41474b;
  padding: 0.5em;
  border-top: solid rgb(39, 39, 39);
  bottom: 0%;
  z-index: 999;
}

.mobile-nav-title {
  display: inline-block;
  padding-left: 0.8em;
  font-size: 21px;
  font-weight: bold;
  color: rgb(39, 39, 39);
}

.fa-house {
  color: rgb(39, 39, 39);
  font-size: 30px;
  padding-top: 0.3em;
}

.fa-user {
  color: rgb(39, 39, 39);
  font-size: 30px;
  padding-top: 0.3em;
  margin-left: 0.15em;
}

.fa-plus {
  color: #c5e9ea;
  font-size: 30px;
  padding-top: 0.3em;
}

.mobile-search-btn {
  display: flex;
  justify-content: flex-end;
}

.mobile-search-btn > button {
  background-color: transparent;
  border-style: none;
}

.fa-magnifying-glass {
  color: rgb(39, 39, 39);
  font-size: 30px;
}

.sidebar-left {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style: none;
}

li {
  margin-top: 0.5em;
}

.sidebar-icon {
  font-size: 50px;
}

.nav-sidebar-text {
  font-size: 22px;
  font-weight: bold;
  margin-left: 1em;
}

.fa-user > .nav-sidebar-text {
  margin-left: 1.2em;
}

.desktop-post-btn {
  width: 225px;
  height: 52px;
  border-style: none;
  background-color: #c5e9ea;
  border-radius: 30px;
  color: #aeb2b5;
  font-size: 22px;
  font-weight: bold;
}

.desktop-sign-out {
  cursor: pointer;
  margin-right: 6.3em;
}

.border-right {
  border-right: 2px solid rgb(39, 39, 39);
}

.border-left {
  border-left: 2px solid rgb(39, 39, 39);
}

.sign-out-wrapper {
  position: sticky;
  z-index: 9999;
  bottom: 1%;
  width: 250px !important;
}

.displayname-text {
  font-size: 18px;
  font-weight: bold;
  color: rgb(39, 39, 39);
}

.username-text {
  font-size: 16px;
  font-weight: 400;
  color: #41474b;
  margin: 0.5em;
  margin-bottom: 0.5em;
  padding: 0;
}

.searchbar-wrapper {
  width: 350px;
  height: 44px;
  background-color: #41474b;
  position: sticky;
  top: 0%;
  margin-left: 3.5em;
  padding-top: 1px;
}

.searchbar {
  display: flex;
  justify-content: space-around;
  width: 350px;
  height: 42px;
  border-radius: 30px;
  background-color: #aeb2b5;
  text-align: center;
}

.searchbar > input {
  background: transparent;
  border-style: none;
  width: 275px;
  outline: none;
  padding: 0;
}

.searchbar > input::placeholder {
  color: white;
}

.search-btn {
  background: transparent;
  border-style: none;
  margin-top: 5px;
}

.search-btn > .fa-magnifying-glass {
  font-size: 20px;
}

.card {
  max-width: 590px;
}

.upload-avatar {
  display: none;
}

.avatar-label {
  cursor: pointer;
  text-decoration: underline;
  color: #c5e9ea;
}

.avatarimage {
  border-radius: 50%;
  border: 2px solid rgb(39, 39, 39);
}

.avatartext {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

article {
  margin: 1em 0;
  max-width: 598px;
  max-height: 610px;
  border-bottom: solid 1px black;
  overflow-y: auto;
}

article::-webkit-scrollbar {
  width: 6px;
}

article::-webkit-scrollbar-track {
  background-color: #aeb2b5;
  border-radius: 30px;
}

article::-webkit-scrollbar-thumb {
  background: #c5e9ea;
  border-radius: 30px;
}

article > p {
  padding: 0 1em;
  font-size: 16px;
}

.modal-overlay {
  position: fixed;
  z-index: 9996;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.delete-post-modal-overlay {
  position: fixed;
  z-index: 9997;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.bg-opacity-40 {
  background-color: rgba(0, 0, 0, 0.39);
}

.modal-wrapper {
  display: flex;
  justify-content: center;
}

.sign-out-modal {
  margin: 0 auto;
  width: 200px;
  height: 52px;
  border-radius: 30px;
  text-align: center;
  padding-top: 1em;
  padding-right: 0.25em;
  background-color: #41474b;
  color: white;
  cursor: pointer;
}

.arrow-down {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}

.mobile-nav-btn {
  border-style: none;
  background-color: transparent;
}

.mobile-nav-menu {
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: calc(390px * 0.73);
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1.5em);
  animation: slidein 700ms ease-in forwards;
}

@keyframes slidein {
  0% {
    transform: translateX(-400px);
  }

  100% {
    transform: translateX(0);
  }
}

.mobile-nav-menu-head {
  display: flex;
  justify-content: space-between;
  height: 53px;
}

.mobile-nav-menu-title {
  padding-top: 1em;
  padding-left: 1em;
  font-weight: bold;
  color: white;
  font-size: 18px;
}

.mobile-x-btn {
  background-color: transparent;
  border-style: none;
  color: white;
  margin-top: 0.45em;
  margin-right: 0.6em;
  font-size: 1.5em;
}

.color-white {
  color: white;
}

.color-text-content {
  color: rgb(201, 201, 201);
}

.mobile-nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-nav-wrapper > nav > ul {
  margin: 0;
  padding-left: 1.1em;
  color: white;
}

.mobile-profile-icon {
  font-size: 16px;
  color: white;
}

.mobile-profile-icon-text {
  margin-left: 1em;
  color: white;
}

.mobile-profile-icon-wrapper {
  margin-bottom: 36em;
}

.mobile-sign-out {
  font-size: 18px;
  cursor: pointer;
}

.post-modal {
  position: absolute;
  z-index: 9999;
  top: 10%;
  right: 34%;
  width: 604px !important;
  border-radius: 30px;
  background-color: #aeb2b5;
}

.post-avatar {
  max-width: 50px !important;
}

.textarea-post-content {
  resize: none;
  width: 100%;
  outline: none;
  background-color: transparent;
  border-style: none;
  font-size: 18px;
  color: white;
}

textarea::-webkit-scrollbar {
  display: none;
}

.fa-image {
  font-size: 20px;
  color: #c5e9ea;
}

.submit-post-btn {
  width: 75px;
  height: 36px;
  border-style: none;
  border-radius: 30px;
  background-color: #c5e9ea;
  color: white;
  font-weight: bold;
  margin-bottom: 1em;
}

.submit-post-btn-wrapper {
  max-width: 80px !important;
  margin-right: 3em;
}

.mobile-post-btn {
  border-style: none;
  background-color: transparent;
}

.upload-image {
  cursor: pointer;
}

.upload-image-input {
  display: none;
}

.upload-image-placeholder {
  max-width: 504px;
  max-height: 610px;
  border-radius: 30px;
}

.clear-upload-image {
  position: absolute;
  left: 3%;
  top: 6%;
  width: 30px;
  height: 30px;
  margin: 0.2em;
  border-style: none;
  border-radius: 50%;
  background-color: rgba(141, 141, 141, 0.719);
}

.mobile-back-btn {
  background-color: transparent;
  border-style: none;
  margin-left: 0.5em;
  margin-top: 0.3em;
}

.mobile-back-btn > a {
  text-decoration: none;
  color: rgb(39, 39, 39);
}

.mobile-back-btn > .fa-arrow-left {
  font-size: 20px;
}

.setup-profile-btn {
  width: 129px;
  height: 34px;
  background-color: transparent;
  border-style: solid;
  border-color: white;
  border-radius: 30px;
  color: white;
}

.setup-profile-btn > a {
  color: white !important;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.profile-display-name {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.profile-username {
  font-size: 15px;
  font-weight: 300;
  color: #aeb2b5;
}

.profile-bio {
  color: white;
  font-size: 15px;
  font-weight: 300;
}

.posts-tab {
  border-style: none;
  background: transparent;
  color: rgb(39, 39, 39);
  font-weight: bold;
  font-size: 18px;
}

.posts-tab:hover {
  color: #c5e9ea;
}

.likes-tab {
  border-style: none;
  background: transparent;
  color: rgb(39, 39, 39);
  font-weight: bold;
  font-size: 18px;
}

.likes-tab:hover {
  color: #c5e9ea;
}

.tab-active {
  color: #c5e9ea !important;
}

.tabs-border {
  width: 100% !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  border-bottom: solid rgb(39, 39, 39);
}

.post-image {
  border-radius: 30px;
  max-width: 294px;
  max-height: 393px;
}

.post-avatar-wrapper {
  max-width: 70px !important;
}

.post-displayname {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.post-username {
  font-size: 15px;
  font-weight: 300;
  color: #aeb2b5;
}

.post-text-content {
  font-size: 15px;
  font-weight: 300;
  color: white;
}

.page-head {
  position: sticky;
  top: 0;
  backdrop-filter: blur(1.5em);
}

.page-head-title {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.page-head-username {
  color: #aeb2b5;
}

.fa-comment {
  font-size: 18px;
  cursor: pointer;
}

.fa-comment:hover {
  color: rgb(201, 201, 201);
}

.fa-retweet {
  font-size: 18px;
  cursor: pointer;
}

.fa-retweet:hover {
  color: #c5e9ea;
}

.fa-heart {
  font-size: 18px;
  cursor: pointer;
}

.fa-heart:hover {
  color: #fa2c8b;
}

.like-active {
  color: #fa2c8b;
}

.fa-circle {
  font-size: 3px;
  color: #aeb2b5;
  padding-top: 3.4em;
}

.post-date {
  font-size: 15px;
  font-weight: 300;
  color: #aeb2b5;
}

.space-break {
  height: 200px;
}

.post-options-btn {
  border-style: none;
  background-color: transparent;
  color: #aeb2b5;
}

.post-options-menu {
  position: absolute;
  z-index: 9998;
}

.fa-trash-can {
  color: rgb(255, 101, 101);
}

.delete-btn {
  background-color: transparent;
  border-style: none;
}

.delete-modal {
  position: fixed;
  z-index: 9999;
  left: 42%;
  top: 42%;
  background-color: #41474b;
  border-radius: 30px;
  width: 300px;
  height: 200px;
  text-align: center;
}

.delete-modal > span {
  color: white;
  font-size: 18px;
}

.confirm-delete-btn {
  width: 210px;
  height: 35px;
  margin: 1.5em auto;
  border-style: none;
  border-radius: 30px;
  background-color: red;
  color: white;
}

.cancel-delete-btn {
  width: 210px;
  height: 35px;
  margin: 0 auto;
  border-color: white;
  border-style: solid;
  border-radius: 30px;
  background-color: #aeb2b5;
  color: white;
}

.mobile-search {
  display: none;
}

.post-card-btn {
  border-style: none;
  background-color: transparent;
}

.search-results-container {
  width: 350px;
  background-color: #41474b;
}

.search-result {
  width: 374px;
  height: 80px;
  padding: 12px 16px;
  margin: 0;
}

.search-result-displayname {
  font-weight: bold;
  color: white;
}

.search-result-username {
  font-size: 15px;
  color: #aeb2b5;
}
